@import "tailwindcss";



@theme {
  --color-primary: #16a34a; /* Valeur par défaut */
  --color-secondary: #1e3e1e; /* Valeur par défaut */
};
/* @tailwind base;
@tailwind components;
@tailwind utilities; */